.add-trades-wrapper {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.add-trades-container {
  min-width: 750px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px; /* Adjust the height as needed */
  float: left;
  width: 50%;
}

.add-trades-container form {
  margin-bottom: 20px;
}

.add-trades-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 7px;
  font-size: 14px;
}

.add-trades-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 7px;
  font-size: 14px;
}

.add-trades-container label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-trades-container button {
  width: 100%;
  padding: 10px;
  background-color: #31c48d;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
}

.add-trades-container a {
  color: #31c48d;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  text-align: center;
  font-size: x-large;
}

.add-trades-container button:hover {
  background-color: black;
}
