.alert-success {
  color: #22c489;
}

.alert-error {
  color: #ff7487;
}

.alert {
  display: flex;
  flex: column;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 5px;
}
