.button {
  width: 100%;
  padding: 10px;
  background-color: #087b5b;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #ff7487;
}

.auth-details {
  display: flex;
  align-items: center;
  justify-content: space;
  font-size: 20px;
  color: white;
}
