* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 2fr;
}

.twitter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 400px;
  background-color: #f4f4f4;
  padding: 4px;
  border-radius: 15px;
}

.twitter-timeline {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}

.coin-table {
  margin-left: 1px;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 15px;
  background-color: #f4f4f4;
  padding: 4px;
  margin: 5px;
}

.App {
  grid-column-start: 2;
  grid-column-end: 3;
}

.article-title {
  text-align: center;
  margin: 2em 0;
  font-size: 4em;
}

.menu {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  display: table-cell;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  margin-right: 3px;
  font-size: 1.2em;
  padding: 0.5em 0.5em;
  background: #eee;
  border-radius: 3em;
  cursor: pointer;
  transition: 0.3s;
  width: 135px;
}

.menu .inactive {
  background: #fff;
}

.menu .active {
  color: white;
  background: black;
}

.menu .active:hover {
  background: #aeaeae;
}

.menu .inactive:hover {
  color: white;
  background: black;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-content: center;
  justify-items: center;
  min-width: 700px;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 1em;
}

.article {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 20em;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  padding-bottom: 0.5em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.article:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.article-content {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
  flex-grow: 1;
}

.article-source {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}

.article-image {
  overflow: hidden;
  margin-bottom: 0.5em;
  position: relative;
  height: 15em;
}

.article-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}

article:hover .article-image img {
  transform: translate(-50%, -50%) scale(1.1);
}

.article p {
  line-height: 25px;
  color: #555;
}

@media screen and (max-width: 1330px) {
  html {
    font-size: 14px;
  }
  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}
