* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.scrollDiv {
  max-height: 100vh;
}

.page {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 2fr;
  margin-top: 5px;
}

.twitter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.twitter-timeline {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}

.coin-table {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 20px;
  border-radius: 15px;
  height: fit-content;
}

.App {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f4f4f4;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  min-height: 800px;
}

.article-title {
  text-align: center;
  margin: 2em 0;
  font-size: 4em;
}

.menu {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  display: table-cell;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  margin-bottom: 0.5em;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 1.1em;
  padding: 0.5em 0.5em;
  border-radius: 3em;
  cursor: pointer;
  transition: 0.3s;
  width: 135px;
  border: solid 1px black;
}

.menu .inactive {
  background: #121212;
  color: white;
}

.menu .active {
  color: black;
  background: white;
  font-weight: bolder;
}

.menu .inactive:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  justify-content: center;
  justify-items: center;
  min-height: 800px;
  margin-bottom: 10px;
  padding-top: 1em;
}

.article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 20em;
  height: 21em;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  border: solid 3px black;
  background-color: #121212;
  padding-bottom: 1em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.article:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.article-content {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
  flex-grow: 1;
}

.article-source {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}

.article-image {
  overflow: hidden;
  margin-bottom: 0.5em;
  position: relative;
  height: 15em;
}

.article-description {
  color: lightgrey;
}

article:hover .article-image img {
  transform: translate(-50%, -50%) scale(1.1);
}

.article p {
  line-height: 25px;
  color: gray;
}

.image-wrapper {
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.image-news {
  margin: 7.5px;
}

.dashboard-page-footer {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #27ae60;
  font-weight: bold;
}

.dashboard-media-footer a {
  text-decoration: none;
  color: #27ae60;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
