.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.delete-button,
.edit-button,
.save-button {
  background-color: #22c489;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.delete-button:hover,
.edit-button:hover,
.save-button:hover {
  background-color: black;
}

.edit-button {
  margin-right: 10px;
}

.save-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-text .label,
.card-text .label-outcome,
.card-text .label-currency,
.card-text .entry-price,
.card-text .exit-price,
.card-text .trade-close-date {
  margin-right: 5px;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ced4da;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-body {
  padding: 15px;
  position: relative;
  align-items: center;
}

.card-text {
  text-align: center;
  margin-bottom: 0;
  position: relative;
  line-height: 1.5;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-subtitle {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 0;
  position: relative;
}

.icon-mytrades {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

.label,
.label-outcome,
.label-currency {
  font-size: larger;
  font-weight: bold;
}

.label-currency {
  color: #22c489;
}

.label-outcome {
  color: #22c489;
}

.trade-outcome-win {
  color: #3bee34;
  font-size: larger;
  font-weight: bold;
}

.trade-outcome-lose {
  color: red;
  font-size: larger;
  font-weight: bold;
}

.entry-price,
.exit-price,
.trade-close-date {
  font-weight: bold;
}

.trade-open-date {
  font-weight: bold;
}

.trade-observation {
  display: block;
  margin-top: 8px;
  text-align: center;
  color: #333;
  background-color: rgba(206, 212, 218, 0.8);
  padding: 8px;
  border-radius: 7px;
  font-style: italic;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trade-observation-input {
  width: 100%;
  height: 120px;
  resize: vertical;
}

.my-trades-page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #27ae60;
  font-weight: bold;
}

.social-media-footer {
  margin-top: 10px;
}

.social-media-footer a {
  text-decoration: none;
  color: #27ae60;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}