.sign-in-page-wrapper {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}

.sign-in-page-wrapper h1 {
  text-align: center;
}

.sign-in-page-wrapper h2:hover {
  color: black;
}

.sign-in-page-wrapper p {
  font-size: large;
  margin: 10px;
}

p:hover {
  color: black;
  font-weight: bold;
}

.not-registered {
  text-align: center;
}

.sign-in-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px; /* Adjust the height as needed */
}

.sign-in-container img {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 60px;
}

.sign-in-container form {
  margin-bottom: 20px;
}

.sign-in-container label {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.sign-in-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 7px;
  font-size: 14px;
}

.sign-in-container button {
  width: 100%;
  padding: 10px;
  background-color: #31c48d;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
}

.sign-in-container button:hover {
  background-color: black;
}

.sign-in-container a {
  color: #31c48d;
  text-decoration: none;
  margin-right: 10px;
}

.social-icons {
  position: relative;
  text-align: center;
  font-size: x-large;
}

@media (max-width: 480px) {
  .sign-in-container {
    padding: 20px;
  }
  .sign-in-container h1 {
    font-size: 20px;
  }
}
