.sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.sign-up-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.sign-up-container form label {
  display: block;
  margin-bottom: 10px;
}

.sign-up-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.sign-up-container form button.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #087B5B;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.sign-up-container form button.signup-button:hover {
  background-color: #087B5B;
}

.sign-up-container a {
  display: block;
  margin-top: 16px;
  text-align: center;
  color: #087B5B;
  text-decoration: none;
}

.sign-up-container img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20x;
}