@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Permanent+Marker&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: x-large;
  color: #22c489;
  font-weight: 900;
}

h2 {
  font-size: large;
  color: #22c489;
  font-weight: bold;
}

.label {
  color: #22c489;
  font-weight: bolder;
  font-size: large;
}
